.control-group(ng-class="{error: !!error}")
  %label.control-label(for="{{key}}") {{description}}
  .controls
    %input(id="{{key}}" type="text" placeholder="{{description}}" ng-model="model")
    %span.help-inline(ng-class="{hide: !error}") {{error}}
