.control-group(ng-class="{error: !!$parent.errors[key]}")
  %label.control-label(for="{{key}}") {{description}}
  .controls
    %input(id="{{key}}" type="text" placeholder="{{description}}")
    %span.help-inline(ng-class="{hide: !$parent.errors[key]}") {{$parent.errors[key][0]}}
