ENVIRONMENT_NAME={{ rails_env }}
PROJECT_NAME=actionman
ZONE=zerobot.io
TTL=600
DB_NAME={{ db_name }}
DB_USERNAME={{ db_username }}
DB_PASSWORD={{ db_password }}
DB_HOST={{ rds_host }}
DB_PORT=3306

export  ENVIRONMENT_NAME PROJECT_NAME ZONE TTL DB_NAME DB_USERNAME DB_PASSWORD DB_HOST DB_PORT