#instructions
  .header.main-header
    Instructions
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-item.big
        %p
          Put some instructions here
        %p
          Put some more instructions here
        %p
          Put yet more instructions here
    .content.content-full.content-footer
      .content-header(ng-href="/member") My profile
    %search(scroller="scroller")
