#instructions
  .header.main-header
    Instructions
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-item.big
        %p
          Thanks for joining the TedxUltimo community!  We hope you’ll be inspired to start something.  We've worked with our partners 
          %a(href="#" onclick="window.open('http://www.dius.com.au/', '_blank');")
            DiUS
          to create this app so we can share all the talks with you, help you take an idea worth spreading, and turn it into action.  
        %p
          How it works is simple:
          %ol
            %li Find a talk from today that inspires you.
            %li There you’ll notice that each talk has ideas which have been curated by the speaker.
            %li Select an idea that you’d like to act upon.
            %li From there you’ll be able to create an action you can take in support of that idea by a date from now until the end of December.&nbsp; A week before your action is due we'll email you and ask you how it went.
        %p
          You might be thinking, “What kind of action can I create?”&nbsp; &nbsp;Here’s an example: “After listening to Vida Asrina I was inspired by her idea to use coffee shops as a starting point for engaging youth.”
        %p
          You could then create an action against Vida Asrina's idea.&nbsp; For example, ‘Hold one team meeting a month in a coffee shop to engage my team.’&nbsp; You can create actions large or small against any of the talks' ideas and we encourage you to think outside your comfort zone.  Your actions will be displayed along with those of the rest of the TEDxUltimo community.&nbsp; We'll also send you details of events and information that you can use to further contribute to that idea.
    .content.content-full.content-footer
      .content-header(ng-href="/member") My profile
    %search(scroller="scroller")
