#instructions
  .header.main-header
    Instructions
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-item.big
        %p
          Thanks for joining the TedxUltimo community!  We hope you’ve been inspired to start something.  We've worked with our partners DiUS to create this app so we can share all the talks with you, help you take action and get involved.
        %p
          How it works is simple:
          %ol
            %li Find a talk that inspires you and select an idea from it.
            %li Register an action you can take in support of that idea and choose a date by which to complete it.
            %li We’ll send you a reminder 1 week before your action is due and ask you how it went.
        %p
          You might be thinking, “What kind of action can I register?”  Here’s an example: “After listening to Vida Asrina I was inspired by her idea to use coffee shops as a starting point for engaging youth.”
        %p
          You could then register an action against Vida Asrina's idea, for example: ‘Hold one team meeting a month in a coffee shop to engage my team.’  You can register actions big or small against any of the talks' ideas and we encourage you to think outside your comfort zone.  Your actions will be displayed along with those of the rest of the TEDxUltimo community.  We'll also send you details of events and information that you can use to further contribute to that idea.
    .content.content-full.content-footer
      .content-header(ng-href="/member") My profile
    %search(scroller="scroller")
