%p.description(ng-href="/ideas/{{item.idea_action.idea_id}}")
  %strong.featured-action-statement Action:
  {{item.idea_action.description}}
%p(ng-href="/ideas/{{item.idea_action.idea_id}}" ng-show="item.reaction_text")
  %strong.featured-action-statement Your Reaction:
  {{item.reaction_text}}
%div
  %tile:count(count="item.idea_action.members_actioned_count" title="People did this")
  %div.pull-right
    %span.tile.tile-count
      You did on
      %span.number 
        {{item.created_at | date: 'd MMM yyyy'}}