#member.loading
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    %h1
      My profile
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  .sections
    %collapsible(title='My actions' expanded="true" type='interaction' collection='interactions' item-template='assets/views/interactions/interactions_item.html')