#member
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    My profile
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      %collapsible(scroller="scroller" title='My Actions' expanded="true" can-collapse="false" type='idea_action' collection='idea_actions' item-template='assets/views/actions/actions_item.html')
