%h1 Member
%collapsible(title='Actions Taken' type='action' collection='member.actions' item-template='views/actions/action_collapsible_item.html')
%collapsible(title='Reactions Recorded' type='reaction' collection='member.reactions' item-template='views/reactions/reaction_collapsible_item.html')