#member
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    My profile
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      %collapsible(scroller="scroller" title='My Actions' expanded="true" can-collapse="false" type='idea_action' collection='idea_actions' item-template='assets/views/actions/actions_item.html')
    .content.email-controls
      %form
        %label
          Your email address is:
        .error(ng-show='emailChangeError')
          {{emailChangeError}}
        .success(ng-show='emailChangeSuccess')
          Email updated
        %input(type="text" placeholder="Please enter your email address..." ng-model="memberSession.email" autocorrect="off" autocapitalize="off" mobile-focus-click)
        %input.btn.content-button(type="submit" ng-click="updateEmail()" value="Update Email Address")
