#member.loading
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    %h1
      My profile
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  .content
    %p.description
      Find the actions you have taken and the reactions you have recorded below
  .sections
    %collapsible(title='Actions Taken' type='action' collection='member.actions' item-template='assets/views/actions/action_collapsible_item.html')
    %collapsible(title='Reactions' type='reaction' collection='member.reactions' item-template='assets/views/reactions/reaction_collapsible_item.html')