#member.loading
  .header.main-header(ng-click = '$parent.resetToTop()')
    %h1
      My profile
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .center.hero
      %span.featured-action-statement {{interactions.length}}
      %ng:pluralize(count="interactions.length" when="{'one': 'Action', 'other': 'Actions'}")
      Done
    .sections
      %collapsible(scroller="scroller" title='My actions' expanded="true" can-collapse="false" type='interaction' collection='interactions' item-template='assets/views/interactions/interactions_item.html')