#idea
  %div(ng-switch="" on="!!idea.id")
    .header.main-header(ng-switch-default="")
      %h1
        New Idea
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
    .header.main-header(ng-switch-when="true")
      %h1
        Edit Idea
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
  .content
    .alert.alert-success(ng-show="updated==true")
      Successfully updated
    %form.form-horizontal
      .control-group(ng-class="{error: !!errors['description']}")
        %label.control-label(for="description") Idea Description
        .controls
          %textarea(id="description" type="text" placeholder="Idea Description" ng-model="idea.description")
          %span.help-inline(ng-class="{hide: !errors['description']}") {{errors['description'][0]}}

      .control-group(ng-switch="" on="!!idea.id")
        .controls(ng-switch-default="")
          %button.btn.btn-large.btn-danger(ng-click="create()") Create
        .controls(ng-switch-when="true")
          %button.btn.btn-large.btn-danger(ng-click="update()") Update
          %button.btn.btn-large.btn-danger(ng-click="delete()") Delete

  / .sections
  /   %collapsible(title='Actions' type='action' collection='idea.actions' item-template='assets/views/actions/action_edit_collapsible_item.html')