.header
  Idea
.content
  %p.description
    {{idea.body}}
  .action
    %p.action-count.pull-left
      {{idea.members_actioned_count}}
    %p.action-statement.pull-left
      People have taken action on this idea
