#idea.loading
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    %h1
      Idea
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
    &nbsp;
  .tags
    %span.tag{'ng:repeat' => 'tag in idea.tags'}
      {{tag.name}}
  .content
    %p.description
      {{idea.description}}
    .action
      %p.action-count.pull-left
        {{idea.members_actioned_count}}
      %p.action-statement.pull-left
        People have taken action on this idea
      .pull-right(ng-show="twitter")
        %a.btn.btn-twitter(ng-external="{{twitter.url}}" href="{{twitter.url}}" target="_blank")
          %i.icon-twitter
          Tweet
  .sections
    %collapsible(title='Actions' type='action' collection='idea.actions' item-template='assets/views/actions/action_collapsible_item.html')
    %collapsible(title='Reactions' type='reaction' collection='idea.reactions' item-template='assets/views/reactions/reaction_collapsible_item.html')
    %collapsible(title='Inspired by' type='talk' collection='idea.talks' item-template='assets/views/talks/talk_collapsible_item.html')