#idea.loading(ng-show="!showNewIdeaActionDialog" ng-class="identityClass(idea)")
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    Idea
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
    &nbsp;
  %scrollable
    .content
      .content-flat
        %tile:featured(description="idea.description")
        %tile:count(count="idea.members_actioned_count" title="People have taken action")
        %span.pull-right(ng-show="twitter" style="position: relative; bottom: 15px;")
          %a.btn.btn-twitter.btn-borderless(ng-show="!twitter.isApple" phonegap-external="{{twitter.url}}")
            %i.icon-twitter
          %a.btn.btn-twitter.btn-borderless(ng-show="twitter.isApple" ng-click="tweet()")
            %i.icon-twitter
    .content
      %collapsible(scroller="scroller" title='Actions' type='action' collection='idea.idea_actions' item-template='assets/views/actions/action_collapsible_item.html')
        .content-button(ng-click="createNewIdeaAction(idea)") Suggest an action
    .content
      %collapsible(scroller="scroller" title='Inspired by' expanded="true" can-collapse="false" type='talk' collection='idea.talks' item-template='assets/views/talks/talk_collapsible_item.html')
%ng:include#new-idea-action-dialog(src="'assets/views/actions/new.html'" ng-controller='IdeaActionEditCtrl' ng-show='showNewIdeaActionDialog')
