#idea.loading
  .header.main-header
    Idea
    .home-page.pull-right(ng-href="/home")
      %i.icon-home
  .tags
    %span.tag{'ng:repeat' => 'tag in idea.tags'}
      {{tag.name}}
  .content
    %p.description
      {{idea.body}}
    .action
      %p.action-count.pull-left
        {{idea.members_actioned_count}}
      %p.action-statement.pull-left
        People have taken action on this idea
  .sections
    %collapsible(title='Actions' type='action' collection='idea.actions' item-template='views/actions/action_collapsible_item.html')
    %collapsible(title='Reactions' type='reaction' collection='idea.reactions' item-template='views/reactions/reaction_collapsible_item.html')
    %collapsible(title='Inspired by' type='talk' collection='idea.talks' item-template='views/talks/talk_collapsible_item.html')
