.landing.loading
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Ideas
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-header Featured Idea
      .content-item(ng-href="/ideas/{{ideas.featured[0].id}}")
        %tile:featured(description="ideas.featured[0].description")
        .totals
          %tile:count(count="ideas.featured[0].idea_actions_count" title="actions")
          %tile:count(count="ideas.featured[0].reactions_count" title="reactions")
    .content
      .content-header Popular Ideas
      .content-item(ng-href="/ideas/{{ideas.popular[0].id}}")
        %tile:default(description="ideas.popular[0].description")
        .totals
          %tile:count(count="ideas.popular[0].idea_actions_count" title="actions")
          %tile:count(count="ideas.popular[0].reactions_count" title="reactions")
      .content-item(ng-href="/ideas/{{ideas.popular[1].id}}")
        %tile:default(description="ideas.popular[1].description")
        .totals
          %tile:count(count="ideas.popular[1].idea_actions_count" title="actions")
          %tile:count(count="ideas.popular[1].reactions_count" title="reactions")
    .content
      .content-header Recent Ideas
      .content-item(ng-href="/ideas/{{ideas.recent[0].id}}")
        %tile:default(description="ideas.recent[0].description")
        .totals
          %tile:count(count="ideas.recent[0].idea_actions_count" title="actions")
          %tile:count(count="ideas.recent[0].reactions_count" title="reactions")
      .content-item(ng-href="/ideas/{{ideas.recent[1].id}}")
        %tile:default(description="ideas.recent[1].description")
        .totals
          %tile:count(count="ideas.recent[1].idea_actions_count" title="actions")
          %tile:count(count="ideas.recent[1].reactions_count" title="reactions")
      .content-button(ng-show="!extraIdeas" ng-click="more()") Load more ideas
      .content-button(ng-show="extraIdeas && extraIdeas.length == 0")
        .extra-results-loading
    .content(ng-show="extraIdeas && extraIdeas.length != 0")
      .content-header More Ideas
      .content-item(ng-repeat='idea in extraIdeas' ng-href="/ideas/{{idea.id}}")
        %tile:default(description="idea.description")
        .totals
          %tile:count(count="idea.idea_actions_count" title="actions")
          %tile:count(count="idea.reactions_count" title="reactions")
    %search(scroller="scroller")