#idea
  .header
    Idea
  .tags
    %span.tag{'ng:repeat' => 'tag in idea.tags'}
      {{tag.name}}
  .content
    %p.description
      {{idea.body}}
    .action
      %p.action-count.pull-left
        {{idea.members_actioned_count}}
      %p.action-statement.pull-left
        People have taken action on this idea
  %collapsible(title='Actions' type='action' collection='idea.actions' item-template='views/actions/action_collapsible_item.html')
  %collapsible(title='Reactions' type='reaction' collection='idea.reactions' item-template='views/reactions/reaction_collapsible_item.html')
  .center
    %textarea#reaction{'placeholder' => 'Add my reaction'}
    %button#submit-reaction.btn.btn-large.btn-danger.pull-right{'ng-click' => 'react(idea.id)', 'ng-controller' => 'ReactionCtrl'} Add my reaction

    
