#idea-edit
  %scrollable
    .content
      .content-header
        Submit an idea
        .touch-panel.touch-panel-right
          %a.touch-icon#cancel-button(ng-click="confirmDialogShown=true")
            %i.icon-remove
      .content-header.red
        Inspired by
      .content-item(ng-repeat="talk in idea.talks")
        %tile:default(description="talk.title")
      .content-header.red
        I had this idea
      .content-item.content-item-full
        %textarea#description(placeholder='My idea is...' ng-model='idea.description' required='' mobile-focus-click)
      .content-header.red
        With these actions
      .content-item
        .actions(ng-repeat="action in idea.idea_actions")
          %tile:default(description="action.description")
          %span.pull-right
            %i.icon-remove(ng-click="removeAction(action)")
        %form#new-action(name='newAction' ng-submit="addNewAction()")
          %input#new-action-description(type='text' ng-model='newActionDescription' size='30' placeholder='New action...' required='' mobile-focus-click)
          %input#add-new-action.btn.btn(type="submit" value='Add action' ng-disabled='newAction.$invalid')
      %button#submit-idea.center.content-button(ng-disabled='!validIdea()' ng-click='submitIdea(idea)')
        Submit your idea
    #cancel-confirm-dialog.modal(ui-modal='' ng-model="confirmDialogShown" data-backdrop='false')
      .modal-header.header(ng-click="scroller.scrollToPage(0, 0, 300)")
        Cancel idea submission?
      .modal-body
        .content
          %p 
            Are you sure you want to cancel your submission?
            %em 
              You will lose all your data.
      .modal-footer
        %a#confirm-button.btn.btn-danger(data-dismiss='modal' ng-click='cancel()')
          Continue
        %a#close-button.btn(ng-click="confirmDialogShown=false")
          Cancel
    #modal-backdrop.modal-backdrop.fade.in(ng-show='confirmDialogShown')
