#idea-edit
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Submit
    .touch-panel.touch-panel-right
      %a.touch-icon#cancel-button(ng-click="confirmDialogShown=true")
        %i.icon-remove
  %scrollable
    .content
      .content-header
        Inspired by...
      .content-item(ng-repeat="talk in idea.talks")
        %tile:default(description="talk.title")
      .content-header
        I had this idea...
      .content-item
        %p.muted
          %small An idea is a 1-3 sentence description of one of the central concepts within the talk.
        %textarea#description(placeholder='My idea is...' ng-model='idea.description' required='' mobile-focus-click)
      .content-header
        Into these actions...
      .content-item
        %p.muted
          %small An action is a simple task that is consistant with the idea and simple to do. Remember we want action not commitment to action.
      .content-item.actions(ng-repeat="action in idea.idea_actions")
        %tile:default(description="action.description")
        %span.pull-right
          %i.icon-remove(ng-click="removeAction(action)")
      .content-item
        %form#new-action(name='newAction' ng-submit="addNewAction()")
          %input#new-action-description(type='text' ng-model='newActionDescription' size='30' placeholder='New action...' required='' mobile-focus-click)
          %input#add-new-action.btn.btn(type="submit" value='Add action' ng-disabled='newAction.$invalid')
    .content
      %p
        Please review your idea before submission. 
      .center
        %button#submit-idea.center.btn.btn-large.btn-danger(ng-disabled='!validIdea()' ng-click='submitIdea(idea)')
          Submit your idea
  #cancel-confirm-dialog.modal(ui-modal='' ng-model="confirmDialogShown" data-backdrop='false')
    .modal-header.header(ng-click="scroller.scrollToPage(0, 0, 300)")
      Cancel idea submission?
    .moday-body
      .content
        %p 
          Are you sure you want to cancel your submission?
          %em 
            You will lose all your data.
    .modal-footer
      %a#confirm-button.btn.btn-danger(data-dismiss='modal' ng-click='cancel()')
        Continue
      %a#close-button.btn(ng-click="confirmDialogShown=false")
        Cancel
#modal-backdrop.modal-backdrop.fade.in(ng-show='confirmDialogShown')
