#idea-edit
  .header.main-header
    Submit an idea
    .cancel-button#cancel-button.pull-right(ng-click="confirmDialogShown=true")
      &nbsp;&nbsp;&nbsp;
  .content
    %p
      Thank you for taking the time to submit an idea!
  .sections
    .section.talks
      .header
        %span.title
          Inspired by...
      .items
        .item{ 'ng-repeat' => "item in idea.talks" }
          %ng:include(src="'views/talks/talk_in_idea_submission_collapsible_item.html'")
    .body.section
      .header
        I had this idea...
      .content
        %textarea#body(placeholder='My idea is...' ng-model='idea.body' required='')
    .section.actions
      .header
        %span.title
          Into these actions...
      .items
        .item{ 'ng-repeat' => "item in idea.actions" }
          %ng:include(src="'views/actions/action_in_idea_submission_collapsible_item.html'")
      .control.content
        %form#new-action(name='newAction' ng-submit="addNewAction()")
          %input#new-action-description(type='text' ng-model='newActionDescription' size='30' required='' placeholder='New action...')
          %input#add-new-action.btn.btn-danger(type="submit" value='Add action' ng-disabled='newAction.$invalid')
  .content.row-fluid
    %p
      Please review your idea before submission. 
    .center
      %button#submit-idea.btn.btn-large.btn-danger(ng-disabled='!validIdea()' ng-click='submitIdea(idea)')
        Submit your idea
#cancel-confirm-dialog.modal.fade(ui-modal='' ng-model="confirmDialogShown" data-backdrop='false')
  .modal-header.header.main-header
    Cancel idea submission?
  .moday-body
    .content
      %p 
        Are you sure you want to cancel your submission?
        %em 
          You will lose all your data.
  .modal-footer
    %a#confirm-button.btn.btn-danger(data-dismiss='modal' ng-click='cancel()')
      Confirm
    %a#close-button.btn(ng-click="confirmDialogShown=false")
      Close
#modal-backdrop.modal-backdrop.fade.in(ng-show='confirmDialogShown')
