%div(ng-controller="IdeaActionCtrl")
  %p {{item.description}}
  %tile:count(count="item.members_actioned_count" title="People did this")
  %div.pull-right{'ng-switch on' => 'item.member_interaction'}
    %button.btn.done-it{'ng-switch-when' => 'null', 'ng-click' => 'doneIt(item.id)'} Done it
    %span.tile.tile-count(ng-switch-default="")
      You did on
      %span.number 
        {{item.member_interaction.created_at}} 
  .container
    .row-fluid.reaction(id="reaction-{{item.member_interaction.id}}" ng-controller="ReactionCtrl")
      .span12.center
        %textarea(placeholder="Add your reaction..." name="reaction-text" ng-model="reactionText" mobile-focus-click)
      .span12.center
        %button.btn.pull-right(ng-disabled="!reactionText || inProgress" ng-click="react()") 
          Submit my reaction
