#actions.landing.loading
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    Actions
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content(ng-show="actions.featured[0]")
      .content-header Featured Action
      .content-item(ng-href="/ideas/{{actions.featured[0].idea_id}}")
        %tile:featured(description="actions.featured[0].description")
    .content
      .content-header Recent Actions
      .content-item(ng-href="/ideas/{{actions.recent[0].idea_id}}")
        %tile:default(description="actions.recent[0].description")
      .content-item(ng-href="/ideas/{{actions.recent[1].idea_id}}")
        %tile:default(description="actions.recent[1].description")
      .content-item(ng-href="/ideas/{{actions.recent[2].idea_id}}")
        %tile:default(description="actions.recent[2].description")
      .content-item(ng-href="/ideas/{{actions.recent[3].idea_id}}")
        %tile:default(description="actions.recent[3].description")
    .content(ng-show="extraActions && extraActions.length != 0")
      .content-header More Actions
      .content-item(ng-repeat='action in extraActions|unique: "id"' ng-href="/ideas/{{action.idea_id}}")
        %tile:default(description="action.description")
    .content
      .content-button(ng-show="stillMoreComing" ng-click="more()")
        %span(ng-show="!searching") Load more actions
        .extra-results-loading(ng-show="searching")
    %search(scroller="scroller")