.landing.loading
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Actions
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-header Featured Action
      .content-item(ng-href="/ideas/{{actions.featured[0].idea_id}}")
        %tile:featured(description="actions.featured[0].description")
        .totals
          %tile:count(count="actions.featured[0].reactions_count" title="reactions")
    .content
      .content-header Popular Actions
      .content-item(ng-href="/ideas/{{actions.popular[0].idea_id}}")
        %tile:default(description="actions.popular[0].description")
        .totals
          %tile:count(count="actions.popular[0].reactions_count" title="reactions")
      .content-item(ng-href="/ideas/{{actions.popular[1].idea_id}}")
        %tile:default(description="actions.popular[1].description")
        .totals
          %tile:count(count="actions.popular[1].reactions_count" title="reactions")
    .content
      .content-header Recent Actions
      .content-item(ng-href="/ideas/{{actions.recent[0].idea_id}}")
        %tile:default(description="actions.recent[0].description")
        .totals
          %tile:count(count="actions.recent[0].reactions_count" title="reactions")
      .content-item(ng-href="/ideas/{{actions.recent[1].idea_id}}")
        %tile:default(description="actions.recent[1].description")
        .totals
          %tile:count(count="actions.recent[1].reactions_count" title="reactions")
      .content-item(ng-repeat='action in extraActions' ng-href="/ideas/{{action.idea_id}}")
        %tile:default(description="action.description")
        .totals
          %tile:count(count="action.reactions_count" title="reactions")
    .collapsible.center(ng-show="!extraActions")
      .header(ng-click="more()") Load more actions
    .collapsible.center(ng-show="extraActions && extraActions.length == 0")
      .header.extra-results-loading
    %search(scroller="scroller")