%p.description(ng-href="/ideas/{{item.idea_id}}")
  {{item.description}}
.action-controls
  %em(ng-hide='item.completion_date') Target date on {{item.target_date | date:'MM/dd/yyyy'}}
  %em.completed(ng-show='item.completion_date') Completed on {{item.completion_date | date:'MM/dd/yyyy'}}
  %span(ng-controller="IdeaActionCtrl")
    %button.btn.btn-flat.pull-right.done-it(ng-show="item.completable" ng-click="doneIt(item)") I've done it
