#idea-action-edit
  %scrollable
    .content
      .content-header
        Suggest an action
        .touch-panel.touch-panel-right
          %a.touch-icon#cancel-button(ng-click="confirmDialogShown=true")
            %i.icon-remove
      .content-item.content-item-full
        %textarea(placeholder='My action is...' ng-model='idea_action.description')
      %button#submit-idea-action.content-button(ng-disabled='!validIdeaAction()' ng-click='submitIdeaAction(idea_action)')
        Submit your action

    #cancel-confirm-dialog.modal(ui-modal='' ng-model="confirmDialogShown" data-backdrop='false')
      .modal-header.header(ng-click="scroller.scrollToPage(0, 0, 300)")
        Cancel action submission?
      .modal-body
        .content
          %p
            Are you sure you want to cancel your submission?
            %em
              You will lose all your data.
      .modal-footer
        %a#confirm-button.btn.btn-danger(data-dismiss='modal' ng-click='cancel()')
          Continue
        %a#close-button.btn(ng-click="confirmDialogShown=false")
          Cancel
    #modal-backdrop.modal-backdrop.fade.in(ng-show='confirmDialogShown')