#idea-action-edit
  .header.main-header.small-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Suggest
    .touch-panel.touch-panel-right
      %a.touch-icon#cancel-button(ng-click="confirmDialogShown=true")
        %i.icon-remove
  .content
    %p
      Thank you for taking the time to suggest an action!
    .content-header
      I suggest...
    .content-item
      %p.muted
        %small An action is a 1-3 sentence description the action related to the idea.
      %textarea(placeholder='My action is...' ng-model='idea_action.description')
  .content
    %p
      Please review your action before submission.
    .center
      %button#submit-idea-action.center.btn.btn-large.btn-danger(ng-disabled='!validIdeaAction()' ng-click='submitIdeaAction(idea_action)')
        Submit your action

#cancel-confirm-dialog.modal.fade(ui-modal='' ng-model="confirmDialogShown" data-backdrop='false')
  .modal-header.header.center(ng-click="scroller.scrollToPage(0, 0, 300)")
    Cancel action submission?
  .moday-body
    .content
      %p
        Are you sure you want to cancel your submission?
        %em
          You will lose all your data.
  .modal-footer
    %a#confirm-button.btn.btn-danger(data-dismiss='modal' ng-click='cancel()')
      Confirm
    %a#close-button.btn(ng-click="confirmDialogShown=false")
      Close
#modal-backdrop.modal-backdrop.fade.in(ng-show='confirmDialogShown')