#talk
  %div(ng-switch="" on="!!talk.id")
    .header.main-header(ng-switch-default="")
      %h1
        New Talk
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
    .header.main-header(ng-switch-when="true")
      %h1
        Talk {{talk.title}}
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
  .content
    .alert.alert-success(ng-show="updated==true")
      Successfully updated
    %form.form-horizontal
      %bootstrap-input(key="title" description="Talk Title" model="talk.title" error="errors['name']")

      .control-group(ng-class="{error: !!errors['description']}")
        %label.control-label(for="description") Talk Description
        .controls
          %textarea(id="description" type="text" placeholder="Talk Description" ng-model="talk.description")
          %span.help-inline(ng-class="{hide: !errors['description']}") {{errors['description'][0]}}

      %bootstrap-input(key="hero_image_url" description="Talk Hero Image URL" model="talk.hero_image_url" error="errors['hero_image_url']")
      %bootstrap-input(key="ted_talk_url" description="TED Talk URL" model="talk.ted_talk_url" error="errors['ted_talk_url']")
          
      .control-group(ng-switch="" on="!!talk.id")
        .controls(ng-switch-default="")
          %button.btn(ng-click="create()") Create
        .controls(ng-switch-when="true")
          %button.btn(ng-click="update()") Update
          %button.btn.btn-danger(ng-click="delete()") Delete
  .sections
    %collapsible(title='Ideas' type='idea' collection='talk.ideas' item-template='assets/views/ideas/idea_edit_collapsible_item.html')