.landing
  .header.main-header(ng-click = '$parent.resetToTop()')
    %h1
      Talks
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content
      .content-item(ng-href="/events/{{talks.featured[0].event_id}}/talks/{{talks.featured[0].id}}")
        %tile:featured(heading="FEATURED TALKS" title="talks.featured[0].title" description="talks.featured[0].description" img="talks.featured[0].hero_image_url")
        .totals
          %tile:count(count="talks.featured[0].ideas_count" title="ideas")
          %tile:count(count="talks.featured[0].idea_actions_count" title="actions")
          %tile:count(count="talks.featured[0].reactions_count" title="reactions")
      .content-item(ng-href="/events/{{talks.popular[0].event_id}}/talks/{{talks.popular[0].id}}")
        %tile:default(title="talks.popular[0].title")
        .totals
          %tile:count(count="talks.popular[0].ideas_count" title="ideas")
          %tile:count(count="talks.popular[0].idea_actions_count" title="actions")
          %tile:count(count="talks.popular[0].reactions_count" title="reactions")
      .content-item(ng-href="/events/{{talks.popular[1].event_id}}/talks/{{talks.popular[1].id}}")
        %tile:default(title="talks.popular[1].title")
        .totals
          %tile:count(count="talks.popular[1].ideas_count" title="ideas")
          %tile:count(count="talks.popular[1].idea_actions_count" title="actions")
          %tile:count(count="talks.popular[1].reactions_count" title="reactions")
      .content-item(ng-href="/events/{{talks.recent[0].event_id}}/talks/{{talks.recent[0].id}}")
        %tile:default(title="talks.recent[0].title")
        .totals
          %tile:count(count="talks.recent[0].ideas_count" title="ideas")
          %tile:count(count="talks.recent[0].idea_actions_count" title="actions")
          %tile:count(count="talks.recent[0].reactions_count" title="reactions")
      .content-item(ng-href="/events/{{talks.recent[1].event_id}}/talks/{{talks.recent[1].id}}")
        %tile:default(title="talks.recent[1].title")
        .totals
          %tile:count(count="talks.recent[1].ideas_count" title="ideas")
          %tile:count(count="talks.recent[1].idea_actions_count" title="actions")
          %tile:count(count="talks.recent[1].reactions_count" title="reactions")
    %search(scroller="scroller")