#talk.loading(ng-show='!showNewIdeaDialog')
  .header.main-header
    Talk
    .home-page.pull-right(ng-href="/home")
      %i.icon-home
  .content.talk
    %p.title
      {{talk.title}}
    .hero{'ng-switch on' => 'talk.hero_image_url'}
      %img(ng-src="{{talk.hero_image_url}}" alt="{{talk.title}}" ng-switch-default = '')
      %span(ng-switch-when = 'null')
    %p.description
      {{talk.description}}
  .sections
    %collapsible(title='Ideas' type='idea' collection='talk.ideas' item-template='views/ideas/idea_collapsible_item.html')
      .center.row-fluid
        .span12
          %button#new-idea.btn.btn-large.btn-danger(ng-click='createNewIdea(talk)')
            Submit a new idea
%ng-include#new-idea-dialog(src="'views/ideas/new.html'" ng-controller='IdeaEditCtrl' ng-show='showNewIdeaDialog')