
.collapsible
  .header
    Talks  
    %sup
      {{ talks.length }}
  .content.talks
    .talk{ 'ng-repeat' => "talk in talks" }
      %p.title{ "ng-tap" => "$navigate.go('/talks/{{talk.id}}', 'slide')" }
        {{talk.title}}
