
.header
  Talk
.content.talk
  %p.title
    {{talk.title}}
  %p.description
    {{talk.description}}
  %collapsible(title='Ideas' type='idea' collection='talk.ideas' item-template='views/ideas/idea_collapsible_item.html')
