#edit-events(ng-class="{loading: !events}")
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    %h1
      Select Event to Edit
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  .sections
    %collapsible(title='Events' type='events' collection='events' item-template='assets/views/events/event_edit_collapsible_item.html')