.header
  {{event.name}}
%collapsible(title='Talks' type='talk' collection='event.talks' item-template='views/talks/talk_collapsible_item.html')
%collapsible(title='Ideas' type='idea' collection='ideas' item-template='views/ideas/idea_collapsible_item.html')
  
