#event
  .header.main-header{'ng-switch on' => 'event.logo_image_url'}
    %img(ng-src="{{event.logo_image_url}}" alt="{{event.name}}" ng-switch-default = '')
    %span(ng-switch-when='null')
      {{event.name}}
  .content.event
    .hero{'ng-switch on' => 'event.hero_image_url'}
      %img(ng-src="{{event.hero_image_url}}" alt="{{event.name}}" ng-switch-default = '')
      %span(ng-switch-when = 'null')
    %p.description
      {{event.description}}
  .sections
    %collapsible(title='Talks' type='talk' collection='event.talks' item-template='views/talks/talk_collapsible_item.html')
    %collapsible(title='Ideas' type='idea' collection='ideas' item-template='views/ideas/idea_collapsible_item.html')
    
