#event.loading
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    Event
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %scrollable
    .content.content-full
      %div{'ng-switch on' => 'event.hero_image_url'}
        %img(ng-src="{{event.hero_image_url}}" alt="{{event.name}}" ng-switch-default = '')
        %span(ng-switch-when = 'null')
      .content-flat
        %div{'ng-switch on' => 'event.logo_image_url'}
          %span(ng-switch-default='')
            %img(ng-src="{{event.logo_image_url}}" alt="{{event.name}}")
            %tile:featured(description="event.description")
          %span(ng-switch-when='null')
            %tile:featured(title="event.name" description="event.description")
    .content
      %idea_collapsible(scroller="scroller" title='Ideas' type='idea' collection='ideas' item-template='assets/views/ideas/idea_collapsible_item.html')
    .content
      %talk_collapsible(scroller="scroller" title='Talks' type='talk' collection='event.talks' item-template='assets/views/talks/talk_collapsible_item.html')