#event
  %div(ng-switch="" on="!!event.id")
    .header.main-header(ng-switch-default="")
      New Event
    .header.main-header(ng-switch-when="true")
      Event {{event.name}}
  .content
    %form.form-horizontal
      %bootstrap-input(model="event.name" key="name" description="Event Name")
      %bootstrap-input(model="event.description" key="description" description="Event Description")
      %bootstrap-input(model="event.logo_image_url" key="logo_image_url" description="Event Logo Image URL")
      %bootstrap-input(model="event.hero_image_url" key="hero_image_url" description="Event Hero Image URL")
          
      .control-group(ng-switch="" on="!!event.id")
        .controls(ng-switch-default="")
          %button.btn(ng-click="create()") Create
        .controls(ng-switch-when="true")
          %button.btn(ng-click="update()") Update
          %button.btn.btn-danger(ng-click="delete()") Delete