#event
  %div(ng-switch="" on="!!event.id")
    .header.main-header(ng-switch-default="")
      New Event
      .home-page.pull-right(ng-href="/home")
        %i.icon-home
    .header.main-header(ng-switch-when="true")
      Event {{event.name}}
      .home-page.pull-right(ng-href="/home")
        %i.icon-home
  .content
    .alert.alert-success(ng-show="updated==true")
      Successfully updated
    %form.form-horizontal
      %bootstrap-input(model="event.name" key="name" description="Event Name")

      .control-group(ng-class="{error: !!errors['description']}")
        %label.control-label(for="description") Event Description
        .controls
          %textarea(id="description" type="text" placeholder="Event Description" ng-model="event.description")
          %span.help-inline(ng-class="{hide: !errors['description']}") {{errors['description'][0]}}

      %bootstrap-input(model="event.logo_image_url" key="logo_image_url" description="Event Logo Image URL")
      %bootstrap-input(model="event.hero_image_url" key="hero_image_url" description="Event Hero Image URL")
          
      .control-group(ng-switch="" on="!!event.id")
        .controls(ng-switch-default="")
          %button.btn(ng-click="create()") Create
        .controls(ng-switch-when="true")
          %button.btn(ng-click="update()") Update
          %button.btn.btn-danger(ng-click="delete()") Delete

  .sections
    %collapsible(title='Talks' type='talk' collection='event.talks' item-template='assets/views/talks/talk_edit_collapsible_item.html')