#event
  %div(ng-switch="" on="!!event.id")
    .header.main-header(ng-switch-default="")
      %h1
        New Event
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
    .header.main-header(ng-switch-when="true")
      %h1
        Event {{event.name}}
      .touch-panel
        %a.touch-icon(ng-href="/home")
          %i.icon-home
  .content
    .alert.alert-success(ng-show="updated==true")
      Successfully updated
    %form.form-horizontal
      %bootstrap-input(key="name" description="Event Name" model="event.name" error="errors['name']")

      .control-group(ng-class="{error: !!errors['description']}")
        %label.control-label(for="description") Event Description
        .controls
          %textarea(id="description" type="text" placeholder="Event Description" ng-model="event.description")
          %span.help-inline(ng-class="{hide: !errors['description']}") {{errors['description'][0]}}

      %bootstrap-input(key="logo_image_url" description="Event Logo Image URL" model="event.logo_image_url" error="errors['logo_image_url']")
      %bootstrap-input(key="hero_image_url" description="Event Hero Image URL" model="event.hero_image_url" error="errors['hero_image_url']")

      .control-group
        %label.control-label(for="featured") Event Featured?
        .controls
          %label.checkbox
            %input(id="featured" type="checkbox" ng-model="event.featured")
          
      .control-group(ng-switch="" on="!!event.id")
        .controls(ng-switch-default="")
          %button.btn.btn-large.btn-danger(ng-click="create()") Create
        .controls(ng-switch-when="true")
          %button.btn.btn-large.btn-danger(ng-click="update()") Update Event
          %button.btn.btn-large.btn-danger(ng-click="delete()") Delete Event
          %button.btn.btn-large.btn-danger(ng-href="/events/{{event.id}}/talks/new") Add a Talk

  .sections
    %collapsible(title='Talks' type='talk' collection='event.talks' item-template='assets/views/talks/talk_edit_collapsible_item.html')