#found
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    Found
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
  %div(ng-controller="SearchCtrl")
    %scrollable
      .content.content-full.content-footer.search-field
        .content-item
          %form(name='searchQuery' ng-submit="doSearch()")
            .search-text-wrapper
              %input(type='text' ng-model='query.text' size='30' placeholder='Search' mobile-focus-click)
            %input.btn.btn-borderless.btn-found-search(type="submit" value="")
      .content(ng-show="results")
        .content-header
          %span<
            Results
            %sup><
              {{results.length}}
        .content-item(ng-repeat="result in results" ng-href="/ideas/{{ideas.popular[0].id}}" ng-include="'assets/views/search/' + result._type + '_item.html'")
      .content(ng-show="results && results.length == 0")
        .content-item
          No results found for "{{query.text}}"
      .content(ng-show="!results")
        %p.description.loading
