<div class='loading' id='idea'>
  <div class='header main-header follow-scroll' ng-click='$parent.resetToTop()'>
    <h1>
      Idea
    </h1>
    <div class='touch-panel'>
      <a class='touch-icon' ng-href='/home'>
        <i class='icon-home'></i>
      </a>
    </div>
    &nbsp;
  </div>
  <div class='tags'>
    <span class='tag' ng:repeat='tag in idea.tags'>
      {{tag.name}}
    </span>
  </div>
  <div class='content'>
    <p class='description'>
      {{idea.description}}
    </p>
    <div class='action'>
      <p class='action-count pull-left'>
        {{idea.members_actioned_count}}
      </p>
      <p class='action-statement pull-left'>
        People have taken action on this idea
      </p>
      <div class='pull-right' ng-show='twitter'>
        <a class='btn btn-twitter' href='{{twitter.url}}' ng-external='{{twitter.url}}' target='_blank'>
          <i class='icon-twitter'></i>
          Tweet
        </a>
      </div>
    </div>
  </div>
  <div class='sections'>
    <collapsible collection='idea.idea_actions' item-template='assets/views/actions/action_collapsible_item.html' title='Actions' type='action'></collapsible>
    <collapsible collection='idea.reactions' item-template='assets/views/reactions/reaction_collapsible_item.html' title='Reactions' type='reaction'></collapsible>
    <collapsible collection='idea.talks' item-template='assets/views/talks/talk_collapsible_item.html' title='Inspired by' type='talk'></collapsible>
  </div>
</div>
