#login
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Log In
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
    &nbsp;
  %scrollable
    .content
      .center
        %p Please login to Actionman to access administrative interface.
        #error-container
          {{memberSession.errorMsg}}
        %form(ng-submit="login()")
          .inputdata
            %label(for="username") Username:
            %input#username(type="text" ng-model="loginForm.username")

          .inputdata
            %label(for="password") Password:
            %input#password(type="password" ng-model="loginForm.password")
          %input#btn-login.btn-large(type="Submit" value="Login")