#sign-up.loading
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Sign Up
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
    &nbsp;
  .content
    .center TODO: Implement login form