#sign-up.loading
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    Sign Up
    .home-page.pull-right(ng-href="/home")
      %i.icon-home
    &nbsp;
  .content
    .center TODO: Implement login form