#sign-up.loading
  .header.main-header(ng-click = '$parent.resetToTop()')
    %h1
      Sign Up
    .touch-panel
      %a.touch-icon(ng-href="/home")
        %i.icon-home
    &nbsp;
  .content
    .center TODO: Implement login form