%scrollable
  .content
    .login-box
      %p
        Hello and welcome to TEDxUltimo and congratulations on becoming part of the TEDx Community.  
      %p
        We've created this app to help you take an idea worth spreading and turn it into action.  
      %p
        How it works is simple:
        %ol
          %li Find a talk from today that inspires you.
          %li There you’ll notice that each talk has ideas which have been curated by the speaker.
          %li Select an idea that you’d like to act upon.
          %li From there you’ll be able to create an action you can take in support of that idea by a date from now until the end of December.&nbsp;
          %li A week before your action is due we'll email you and ask you how it went.
      %p
        To get started, simply fill in your email below and you’ll be on your way to creating a positive change in the world.

      .login-field
        %form(name="loginForm" ng-controller="LoginCtrl" ng-submit="submit()" novalidate)
          .content-item.content-item-full.text-item
            .error(ng-show="memberSession.errorMsg")
              {{ memberSession.errorMsg }}
            %input(type="text" id="email" ng-model="loginForm.email" placeholder="Please enter your email address..." autocorrect="off" autocapitalize="off" mobile-focus-click)

          %div
            %input#login-submit.content-button.btn(type="submit" value="Login")
