---
# export environment variables for application runtime
- lineinfile: dest=/home/deployer/.bashrc regexp="^export DB_NAME" line="export DB_NAME={{ db_name }}"
- lineinfile: dest=/home/deployer/.bashrc regexp="^export DB_HOST" line="export DB_HOST={{ rds_host }}"
- lineinfile: dest=/home/deployer/.bashrc regexp="^export DB_PORT" line="export DB_PORT=3306"
- lineinfile: dest=/home/deployer/.bashrc regexp="^export DB_USERNAME" line="export DB_USERNAME={{ db_username }}"
- lineinfile: dest=/home/deployer/.bashrc regexp="^export DB_PASSWORD" line="export DB_PASSWORD={{ db_password }}"