<p>
Hello TEDxer,
</p>

<p>
Congratulations on taking some action towards something awesome!
</p>

<p>
This is a reminder email to let you know that you wanted to complete the following action<%= @actions.size > 1 ? 's' : '' %> in around a week's time:
</p>

<ol>
<% @actions.each do |action| %>
	<li><%= action.description %></li>
<% end %>
</ol>

<p>
Good luck!
</p>

<p>
The TEDxUltimo Team
</p>

<p>
Please note: You received this email because you signed up with the TEDxUltimo mobile app.  We would be sad to see you go, but if you wish to unsubscribe, please respond to us with the subject: "Unsubscribe".
</p>
