%div
  %form(name='searchQuery' ng-submit="doSearch()")
    .search-text-wrapper
      %input#search-text(type='text' ng-model='query.text' size='30' placeholder='Search' mobile-focus-click)
    %input.btn(type="submit" value="Find") 