.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    padding: 0px;
}

.scrollable-content {
    position:absolute;
    z-index:1;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width: 100%;
    overflow:hidden;

    .scrollable-content {
      top: 65px;
      overflow:auto;
    }
}

.contentWrapper, .contentWrapper > *, #pageScroller {
  height: 100%;
}

swipe-view {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.scroller {
  position:absolute; 
  z-index:1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}

#idea-action-edit .scrollable-content {
  top: 0;
}