.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    padding: 0px;
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width: 100%;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
}

.scroller {
  position:absolute; z-index:1;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  width:100%;
  padding:0;
}