#home
  .header.main-header.follow-scroll(ng-click = '$parent.resetToTop()')
    %h1
      Ideas into action
    %span(ng-controller = "AuthCtrl")
      .touch-panel
        %span.hidden-phone(ng-show = "!memberSession.loggedIn && loggedInStatusDetermined()")
          %a(ng-href = "/login")
            %i.icon-user
        %span.hidden-phone(ng-show = "memberSession.loggedIn && loggedInStatusDetermined()")
          %i.icon-user
            {{memberSession.username}}
          %a(ng-click = "logout()")
            %i.icon-road
          %a(ng-href="/events/edit")
            %i.icon-edit
        %a.touch-icon(onclick = 'location.reload(true);')
          %i.icon-refresh
  .content
    .center
      %span.big 1314
      %span.big People
      %span.big 289
      %span.big Ideas
      %span.big 633
      %span.big Actions
      .hero
        %p Transforming ideas worth spreading into actions worth taking

    %p.flat-description#random-idea(ng-href="/ideas/{{idea.id}}")
      %strong.action-statement Idea
      {{idea.description}}
      %a.continue

    %p.flat-description#random-action(ng-href="/ideas/{{action.idea_id}}")
      %strong.action-statement Action
      {{action.description}}
      %a.continue

  .collapsible.section
    .header(ng-href="/member") My profile
  .collapsible.section
    .header
      %form(name='searchQuery')
        %input#search-text(type='text' ng-model='query.text' size='30' placeholder='search')
        %button.btn(ng-click="doSearch()") Search
