#home
  %header.home-header
    %a(href="#" onclick="window.open('http://www.tedxultimo.com', '_blank');")
      %img(src="assets/tedxultimo.medium.cropped.png")

  %scrollable
    .content.content-full.content-statement.center
      .content-header(ng-href="/instructions")
        How To Start Something
    .content
      .content-item.big(ng-href="/talks")
        %span {{counts.talks | number }}
        %span
          %ng-pluralize(count="counts.talks | number" when="{'0': 'Talks',  '1': 'Talk', 'other': 'Talks'}")
    .content
      .content-item.big(ng-href="/ideas")
        %span {{counts.ideas | number }}
        %span
          %ng-pluralize(count="counts.ideas | number" when="{'0': 'Ideas',  '1': 'Idea', 'other': 'Ideas'}")
    .content
      .content-item.big(ng-href="/events")
        %span {{counts.events | number }}
        %span
          %ng-pluralize(count="counts.events | number" when="{'0': 'Events',  '1': 'Event', 'other': 'Events'}")
    .content.content-full.content-footer
      .content-header(ng-href="/member") My Profile
    %search(scroller="scroller")
    .content.content-full
      .content-header.center(ng-href="#" onclick="window.open('http://www.dius.com.au/', '_blank');")
        %img(src="assets/powered_by_dius.small.png")
