#home
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    Start something
  %scrollable
    .content.center
      %p.statement
        TEDxUltimo;
        %br
        the ultimate place to start something
    .content
      .content-item.big(ng-href="/talks")
        %span {{counts.talks | number }}
        %span Talks
    .content
      .content-item.big(ng-href="/ideas")
        %span {{counts.ideas | number }}
        %span Ideas
    .content
      .content-item.big(ng-href="/events")
        %span {{counts.events | number }}
        %span Events
    .content.content-full.content-footer
      .content-header(ng-href="/member") My profile
    %search(scroller="scroller")