#home
  .header.main-header(ng-click="scroller.scrollToPage(0, 0, 300)")
    %h1
      Ideas into action
  %scrollable
    .content.center
      %p.hero Transforming ideas worth spreading into actions worth taking
      .content-item.big(ng-href="/ideas")
        %span {{289 | number }}
        %span Ideas
      .content-item.big(ng-href="/actions")
        %span {{633 | number }}
        %span Actions
      .content-item.big(ng-href="/talks")
        %span {{1314 | number }}
        %span Talks
      .content-item.big(ng-href="/events")
        %span {{72 | number }}
        %span Events
    .collapsible.section
      .header(ng-href="/member") My profile
    %search(scroller="scroller")