#home
  .header.main-header
    Ideas into action
    .reload.pull-right(onclick = 'location.reload(true);')
      %i.icon-refresh
  .content
    .center
      %span.big 2314
      %span.big People
      %span.big 1089
      %span.big Ideas
      %span.big 1633
      %span.big Actions
      .hero
        %p Transforming ideas worth spreading into actions worth taking
    
    %p.flat-description#random-idea(ng-href="/ideas/{{idea.id}}")
      {{idea.body}}
      %a.continue

    %p.flat-description#random-action(ng-href="/ideas/{{action.idea_id}}")
      {{action.description}}
      %a.continue

  .collapsible.section
    .header(ng-href="/talks-events") Talks & events
  .collapsible.section
    .header(ng-href="/member") My profile
