#home
  .header.main-header
    Ideas to Action
  .content
    %p {{counts.members}} people; {{counts.ideas}} ideas; {{counts.actions_taken}} actions taken: - transforming ideas worth spreading into actions worth doing.

    %h3 Heres an idea
    %p#random-idea(ng-href="/ideas/{{idea.id}}") {{idea.body}}

    %h3 What are people doing?
    %p#random-action(ng-href="/ideas/{{action.idea_id}}") {{action.description}}

    %p(ng-href="/talks-events") Talks and Events
    %p(ng-href="/member") View my member profile
