#home
  %header.home-header
    %a(href="#" onclick="window.open('http://www.tedxultimo.com', '_blank');")
      %img(src="assets/tedxultimo.medium.cropped.png")

  %scrollable
    .content.center
      %p.small_statement
        %a(ng-href="/instructions")
          The Ultimate Place to Start Something&hellip;
          %span.red
            >
    .content
      .content-item.big(ng-href="/talks")
        %span {{counts.talks | number }}
        %span
          %ng-pluralize(count="counts.talks | number" when="{'0': 'Talks',  '1': 'Talk', 'other': 'Talks'}")
    .content
      .content-item.big(ng-href="/ideas")
        %span {{counts.ideas | number }}
        %span
          %ng-pluralize(count="counts.ideas | number" when="{'0': 'Ideas',  '1': 'Idea', 'other': 'Ideas'}")
    .content
      .content-item.big(ng-href="/events")
        %span {{counts.events | number }}
        %span
          %ng-pluralize(count="counts.events | number" when="{'0': 'Events',  '1': 'Event', 'other': 'Events'}")
    .content.content-full.content-footer
      .content-header(ng-href="/member") My profile
    %search(scroller="scroller")
