#home
  .header.main-header
    Ideas into action
  .content
    .center
      %h2 {{counts.members}} People
      %h2 {{counts.ideas}} Ideas
      %h2 {{counts.actions}} Actions
      .hero
        %p TEDx transforming ideas worth spreading into actions worth taking
    
    %p.flat-description#random-idea(ng-href="/ideas/{{idea.id}}")
      {{idea.body}}
      %a.continue

    %p.flat-description#random-action(ng-href="/ideas/{{action.idea_id}}")
      {{action.description}}
      %a.continue

  .collapsible.section
    .header(ng-href="/talks-events") Talks and Events
  .collapsible.section
    .header(ng-href="/member") My profile
