#home
  .header.main-header
    Ideas to Action
  .content
    .center
      %h2 {{counts.members}} People
      %h2 {{counts.ideas}} Ideas
      %h2 {{counts.actions_taken}} Actions Taken

    %p transforming ideas worth spreading into actions worth doing.
    
    %p.flat-description#random-idea(ng-href="/ideas/{{idea.id}}")
      {{idea.body}}
      %a.continue

    %p.flat-description#random-action(ng-href="/ideas/{{action.idea_id}}")
      {{action.description}}
      %a.continue

  .collapsible.section.collapsible-right
    .header(ng-href="/talks-events") Talks and Events
    .header(ng-href="/member") View my member profile
