#home
  .header.main-header
    Ideas to Action
  .content
    %p
      Welcome to Ideas to Action
  .sections
    %collapsible(title='Recent Ideas' type='idea' collection='ideas' item-template='views/ideas/idea_collapsible_item.html')
    %collapsible(title='Recent Actions' type='action' collection='actions' item-template='views/actions/action_collapsible_item.html')
  %p(ng-href="/talks-events") Talks and Events
  %p(ng-href="/member") View my member profile
