@media screen and (max-device-width: 480px) and (orientation:portrait) {
  body {
    font-size: 1em !important;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.open-in-app {
  padding: 0;
  > div {
    margin: 0 auto;
    max-width: 400px;

    .page {
      height: auto;
      border: 1px solid #d8d8d8;
    }

    .app-links {
      float: left;
      width: 100%;
      padding: 10px;
    }

    .actioned {
      padding: 15px 0 2px;
      width: 100%;

      .action-statement {
        font-weight: bold;
      }
    }
  }
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  line-height: 1.25em !important;
}

h5 {
  margin: 0;
}

h6 {
  font-weight: normal;
}

/* Hack to force the server to download the image so it is always rendered from cache */
#preload-loader { 
  background: image-url('ajax-loader.gif') no-repeat -9999px -9999px; 
}

.jumbo {
  padding: {
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 10px;
  }
}

.loading {
  background: white image-url('ajax-loader.gif') no-repeat 50% 150px;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  z-index: 999;
  min-height: 200px;

  .tags, .content, .sections, .section {
    visibility: hidden;
  }
}

.page {
  .main-header {
    text-align: center;
    padding-bottom: 0;
    padding-left: 0;

    border: {
      bottom: 1px solid rgba(255, 42, 6, 1.0);
    }
  }
}

.header {

  h1 {
    font-weight: normal;
    display: inline-block;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  padding: {
    top: 0;
    left: 20px;
  }

  sup {
    color: #FF2A06;
  }
}

.tags {
  padding: {
    top: 5px;
    bottom: 20px;
    left: 20px;
  }

  .tag {
    background: #f4f4f4;
    margin: 2px;
    padding: 2px;
    font-size: 0.8em;
  }
}

#talk .content .title {
  font-weight: bold;
}

.sections {
  clear: both;
}

.content textarea, .sections textarea, .content input[type="text"], .content textarea {
  width: 94%;
  font-size: 1.15em !important;
  padding: 10px !important;
}

.content textarea, .sections textarea {
  margin: 0 auto;
  height: 3em;
}

.content {
  padding: 5px;

  .content-item {
    border: 1px solid #eee;
    margin: 1px 0;
    padding: 5px 8px;
  }

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }
}

.section {
  background-color: #f4f4f4;
  margin-bottom: 3px;

  .header {
    padding: 20px;

    border: {
      top: 1px solid #d8d8d8;
    }
  }

  .items {
    padding-bottom: 1px;

    &:last-child {
      padding-bottom: 10px;
    }

    .item {

      margin: 0 10px 10px;

      overflow: auto;
      background-color: white;

      > * > * {
        margin: 0px;
        padding: 10px;
      }

      .remove-button {
        background: {
          image: image-url('remove-button.png');
          repeat: no-repeat;
          position: center center;
        }
      }

    }
  }

}

.header {
  font-size: 1.8em;
  line-height: 40px;
  padding-bottom: 23px;
}

#member {
  .featured-action-statement {
    color: #FF2A06;
    font-weight: bold;
  }

  .title sup {
    display: none;
  }
}

.hero {
  font-size: 1.25em;
  font-color: #4d4949;
  line-height: 35px;
  margin: 10px 0;
}

.flat-description {
  clear: both;
  font-size: 1.1em;
  padding: 10px;
  padding-bottom: 12px !important;
  background-color: #f2f2f2;
  line-height: 26px;
  //margin-top: 20px;
}

.continue {
    display: inline-block;
    width: 7px;
    height: 11px;
    background: {
      image: image-url('arrow_element.png');
      repeat: no-repeat;
      position: center center;
  }
}

.error-box {
  text-align: center;
  width: 75%;
  margin: 50px auto;

  .error-msg {
    color: red;
    font-size: 26px;
  }
}

#found .scrollable-content {
  top: 130px;
}