* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  padding: 0px !important;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;

}

.mb-page {

  > .header {

    border: {
      bottom: 2.5px solid #FF2A06;
    }
  }

}

.header {

  padding: {
    top: 20px;
    bottom: 20px;
    left: 20px;
  }

  font: {
    size: 2em;
  }

}

.content {

  border: {
    bottom: 1px solid #d8d8d8;
  }

  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }  

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }
}

.collapsible {
  background-color: #f4f4f4;
  margin-bottom: 3px;

  .header {
    
    sup {
      color: #FF2A06;
    }

  }

  &.collapsed {
    .header {

      background: {
        image: image-url('collapsed-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }
    }
  }

  &.expanded {
    .header {

      background: {
        image: image-url('expanded-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }

    }
  }



  .items {
    display: none;
    padding-bottom: 1px;
    .item {
      overflow: auto;
      background-color: white;
      margin: 10px;
      padding: 10px;
    }
  }

}

