* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  padding: 0px !important;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;

}

.btn {
  -webkit-transition: none !important;
  text-shadow: none !important;
  background-image: none !important;
  border: 0 !important;
  background-color: #FF2A06 !important;
}

.mb-page {

  > .header {

    border: {
      bottom: 2.5px solid #FF2A06;
    }
  }

}

.header {

  padding: {
    top: 20px;
    left: 20px;
  }

  font: {
    size: 2em;
  }

}

.tags {
  padding: {
    top: 5px;
    bottom: 20px;
    left: 20px;
  }

  .tag {
    background: #f4f4f4;
    margin: 2px;
    padding: 2px;
    font-size: 0.8em;
  }
}

.content {

  border: {
    bottom: 1px solid #d8d8d8;
  }

  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
  }  

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }

  .hero {
    padding-bottom: 5px;
  }
}

.collapsible {
  background-color: #f4f4f4;
  margin-bottom: 3px;

  .header {
    padding: 20px;

    sup {
      color: #FF2A06;
    }

  }

  &.collapsed {
    .header {

      background: {
        image: image-url('collapsed-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }
    }
  }

  &.expanded {
    .header {

      background: {
        image: image-url('expanded-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }

    }
  }

  .items {
    display: none;
    padding-bottom: 1px;
    .item {

      margin: 10px;

      overflow: auto;
      background-color: white;

      > * > * {
        margin: 0px;
        padding: 10px;
      }
    }
  }

}

