* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  padding: 0px !important;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;

}

.mb-page {

  > .header {

    border: {
      bottom: 2px solid #FF2A06;
    }
  }

}
.header {

  padding: {
    top: 20px;
    bottom: 20px;
    left: 20px;
  }

  font: {
    size: 2em;
  }

}

.content {

  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }  

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }
}

.collapsible {
  .items {
    display: none;
    padding-bottom: 1px;
    .item {
      overflow: auto;
      background-color: white;
      margin: 10px;
      padding: 10px;
    }
  }

  background-color: lightGray;
  margin-bottom: 3px;

  .header {
    sup {
      color: #FF2A06;
    }
  }
}

