* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  padding: 0px !important;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;

}

.mb-page {

  > .header {

    border: {
      bottom: 2px solid #FF2A06;
    }
  }

}
.header {

  padding: {
    top: 20px;
    bottom: 20px;
    left: 20px;
  }

  margin: {
    bottom: 0.25em;
  }

  font: {
    size: 2em;
  }

}

.content {

  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }  

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }
}

.collapsible {

  .header {
    border: 1px solid black;

    sup {
      color: #FF2A06;
    }
  }
}

