* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

body {
  padding: 0px !important;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  font-family: Helvetica,Arial,sans-serif !important;
  font-size: 1.15em !important;
  line-height: 1.25em !important;
}

.btn-large {
  -webkit-transition: none !important;
  text-shadow: none !important;
  background-image: none !important;
  border: 0 !important;
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  padding: 18px 21px !important;
  font-size: 1.25em !important;
}

.modal {
  .modal-header {
    padding-top: 20px;
  }
}

#loading {
  background: white image-url('ajax-loader.gif') no-repeat center center;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 999;
}

#preload-loader { 
  background: image-url('ajax-loader.gif') no-repeat -9999px -9999px; 
}

.loading {
  background: white image-url('ajax-loader.gif') no-repeat bottom center;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  z-index: 999;
}

.loading {
  .tags, .content, .sections {
    visibility: hidden;
  }
}

.page {

  .main-header {
    background: rgba(255, 255, 255, 0.95);
    padding-bottom: 0;
    position: relative;
    z-index: 999;
    box-shadow: 0px 1.5px 3px rgba(136, 136, 136, 0.75);

    border: {
      bottom: 2.5px solid rgba(255, 42, 6, 1.0);
    }
  }

}

.header {

  h1 {
    font-weight: normal;
    display: inline-block;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  padding: {
    top: 0;
    left: 20px;
  }

  sup {
    color: #FF2A06;
  }
}

.tags {
  padding: {
    top: 5px;
    bottom: 20px;
    left: 20px;
  }

  .tag {
    background: #f4f4f4;
    margin: 2px;
    padding: 2px;
    font-size: 0.8em;
  }
}

#talk .content .title {
  font-weight: bold;
}

.content textarea, .sections textarea, .content input, .content textarea {
  width: 94%;
  font-size: 1.15em !important;
  padding: 10px !important;
}

.content textarea, .sections textarea {
  margin: 0 auto;
  height: 3em;
}

.content {

  padding: {
    top: 20px;
    left: 20px;
    right: 20px;
  }  

  .title {
    font: {
      size: 1.2em;
    }
  }

  p {
    padding-bottom: 5px;
  }

  &:last-child {
    padding-bottom: 5px;
  }
}

.section {
  background-color: #f4f4f4;
  margin-bottom: 3px;

  .header {
    padding: 20px;
  }

  &:first-child {
    border: {
      top: 1px solid #d8d8d8;
    }
  }

  &:last-child {
    padding-bottom: 5px;
  }

  .control {
  }

  .items {
    padding-bottom: 1px;

    &:last-child {
      padding-bottom: 10px;
    }

    .item {

      margin: 0 10px 10px;

      overflow: auto;
      background-color: white;

      > * > * {
        margin: 0px;
        padding: 10px;
      }

      .remove-button {
        background: {
          image: image-url('remove-button.png');
          repeat: no-repeat;
          position: center center;
        }
      }

    }
  }

}

.collapsible {

  &[type="reaction"] {
    .item {
      margin-bottom: 12px;
      background-color: #f4f4f4;

      .description {
        padding: 0 10px;      
      }
    }
  }

  &.collapsed {
    .header {

      background: {
        image: image-url('collapsed-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }
    }
  }

  &.expanded {
    .header {

      background: {
        image: image-url('expanded-indicator.png');
        repeat: no-repeat;
        position: 95% center;
      }
    }
  }

  .items {
    display: none;
  }
}

.header {
  font-size: 1.8em;
  line-height: 40px;
  padding-bottom: 23px;
}

#home .content {
  padding-top: 30px;
  border: {
    bottom: 2.5px solid #FF2A06;
  }
}

.hero {
  font-size: 30px;
  line-height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.flat-description {
  font-size: 20px;
  padding: 10px;
  padding-bottom: 12px !important;
  background-color: #f2f2f2;
  line-height: 26px;
  margin-bottom: 25px;
}

.continue {
    display: inline-block;
    width: 7px;
    height: 11px;
    background: {
      image: image-url('arrow_element.png');
      repeat: no-repeat;
      position: center center;
  }
}

.search-button {
  right: 60px;
}

.hint {
  padding: 0 20px;
  font-size: 16px;
  color: #aaa;
}

.error-box {
  text-align: center;
  width: 75%;
  margin: 50px auto;

  .error-msg {
    color: red;
    font-size: 26px;
  }
}