@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("font/18925_HelveticaNeueLt.ttf") format("opentype");   
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.open-in-app {
  padding: 0;
  > div {
    margin: 0 auto;
    max-width: 400px;

    .page {
      height: auto;
      border: 1px solid #d8d8d8;
    }

    .app-links {
      float: left;
      width: 100%;
      padding: 10px;
    }

    .actioned {
      padding: 15px 0 2px;
      width: 100%;

      .action-statement {
        font-weight: bold;
      }
    }
  }
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  line-height: 1.25em !important;
  background-color: #f8f7f7;
  color: #464747;
}

h5 {
  margin: 0;
  margin-bottom: 0.7em;
  line-height: 1.3em;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Helvetica Neue';
}

h6 {
  font-weight: normal;
}

/* Hack to force the server to download the image so it is always rendered from cache */
#preload-loader { 
  background: image-url('ajax-loader.gif') no-repeat -9999px -9999px; 
}

.loading {
  background: white image-url('ajax-loader.gif') no-repeat 50% 150px;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  z-index: 999;
  min-height: 200px;

  .tags, .content, .section, .search-field {
    visibility: hidden;
  }
}

.page {
  .main-header {
    background-color: white;
    text-align: center;
    padding-bottom: 0;
    padding-left: 0;
    width: auto;

    border: {
      bottom: 1px solid #FF2A06;
    }
  }
}

.header {
  font-size: 30px;
  line-height: 40px;

  h1 {
    display: inline-block;
    margin-top: 27px;
    margin-bottom: 30px;
    font-weight: normal;
    width: 90%;
    line-height: 38.5px;
  }

  sup {
    color: #FF2A06;
  }
}

.tags {
  padding: {
    top: 5px;
    bottom: 10px;
    left: 20px;
  }

  .tag {
    background: #f4f4f4;
    margin: 2px;
    padding: 2px;
    font-size: 0.8em;
  }
}

.content textarea, .section textarea, .content input[type="text"], .content textarea {
  width: 93%;
  font-size: 1.15em !important;
  padding: 10px !important;
}

.content textarea, .section textarea {
  margin: 0 auto;
  height: 3em;
}

.section {
  .header {
    padding: 20px;
  }

  .items {
    padding-bottom: 1px;

    &:last-child {
      padding-bottom: 10px;
    }

    .item {

      margin: 0 10px 10px;

      overflow: auto;
      background-color: white;

      > * > * {
        margin: 0px;
        padding: 10px;
      }

      .remove-button {
        background: {
          image: image-url('remove-button.png');
          repeat: no-repeat;
          position: center center;
        }
      }

    }
  }

}

#member {
  .featured-action-statement {
    color: #FF2A06;
    font-weight: bold;
  }

  .collapsible sup {
    display: none;
  }
}

.continue {
    display: inline-block;
    width: 7px;
    height: 11px;
    background: {
      image: image-url('arrow_element.png');
      repeat: no-repeat;
      position: center center;
  }
}

.error-box {
  text-align: center;
  width: 75%;
  margin: 50px auto;

  .error-msg {
    color: red;
    font-size: 26px;
  }
}

#found .scrollable-content {
  top: 130px;
}