@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("font/18925_HelveticaNeueLt.ttf") format("opentype");   
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.open-in-app {
  padding: 0;
  > div {
    margin: 0 auto;
    max-width: 400px;

    .page {
      height: auto;
      border: 1px solid #d8d8d8;
    }

    .app-links {
      float: left;
      width: 100%;
      padding: 10px;
    }

    .tile {
      padding: 15px 0 2px;
    }
  }
}

body {
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  line-height: 1.25em !important;
}

h5 {
  margin: 0;
  margin-bottom: 0.7em;
  line-height: 1.3em;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Helvetica Neue';
}

h6 {
  font-weight: normal;
}

.loading {
  background: white image-url('ajax-loader.gif') no-repeat 50% 150px;
  height: 100%;
  width: 100%;
  opacity: 1;
  -webkit-transition: opacity 1s;
  z-index: 999;
  min-height: 200px;

  .tags, .content, .search-field {
    visibility: hidden;
  }
}

.page {
  .main-header {
    font-size: 30px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    width: auto;
    border-bottom: 1px solid #FF2A06;

    h1 {
      display: inline-block;
      margin-top: 27px;
      margin-bottom: 30px;
      font-weight: normal;
      width: 90%;
      line-height: 38.5px;
    }
  }
}

.error-box {
  text-align: center;
  width: 75%;
  margin: 50px auto;

  .error-msg {
    color: red;
    font-size: 26px;
  }
}