.btn-large {
  border: 0 !important; /* No borders */
  width: 100%;
}

.btn-twitter, 
.btn-twitter:active, 
.btn-twitter:focus {
  position: relative;
  border: 0;
  box-shadow: none;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 30px;
  max-width: 98%;
  overflow: hidden;
  margin-top: 3px;

  .icon-twitter {
    font-size: 35px;
    color: #00aeed;
  }
}

.btn-borderless,
.btn-borderless:active,
.btn-borderless:hover {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
}

#btn-login {
  width: 120px;
  background: orangered;
  color: white;
}