.btn-large {
  border: 0 !important; /* No borders */
  width: 100%;
}

.btn-twitter, 
.btn-twitter:active, 
.btn-twitter:focus {
  position: relative;
  box-shadow: none;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 30px;
  max-width: 98%;
  overflow: hidden;
  margin-top: 3px;
  padding: 10px 0 10px 10px;

  .icon-twitter {
    font-size: 30px;
  }
}

.btn {
  box-shadow: none;
  border: 1px solid #eee;
  padding-bottom: 6px;
}

.btn-borderless,
.btn-borderless:active,
.btn-borderless:hover {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
}

.btn-flat,
.btn-flat:active,
.btn-flat:hover {
  outline: 0;
  box-shadow: none;
}

#btn-login {
  width: 120px;
  background: orangered;
  color: white;
}