.collapsible {
  .content-header {
    background-repeat: no-repeat;
    background-position: 95% center;
  }

  &.collapsed {
    &:last-child {
      .content-header {
        border-bottom-width: 1px !important;
      }
    }

    .content-header {
      background-image: image-url('collapsed-indicator.png');

      &.fixed {
        background-image: none;
      }
    }
  }

  &.expanded .content-header {
    background-image: image-url('expanded-indicator.png');

    &.fixed {
      background-image: none;
    }
  }

  .items {
    &:last-child {
      padding-bottom: 10px;
    }

    .item {

      overflow: auto;

      > * > * {
        margin: 0px;
        padding: 10px;
      }

      .remove-button {
        background: {
          image: image-url('remove-button.png');
          repeat: no-repeat;
          position: center center;
        }
      }
    }
  }
}