.collapsible {
  background-color: #e7e5e5;
  border-top: 1px solid #d8d8d8;

  .header {
    padding: 20px;
    background: {
      repeat: no-repeat;
      position: 95% center;
    }

    sup {
      padding-left: 0.2em;
      color: #FF2A06;
      font-family: Helvetica;
      font-size: 60%;
    }
  }

  &.collapsed .header {
    &.fixed {
      background-image: none;
    }

    background-image: image-url('collapsed-indicator.png');
  }

  &.expanded .header {
    &.fixed {
      background-image: none;
    }

    background-image: image-url('expanded-indicator.png');    
  }

  .items {
    &:last-child {
      padding-bottom: 10px;
    }

    .item {

      margin: 0 10px 10px;

      overflow: auto;
      background-color: white;

      > * > * {
        margin: 0px;
        padding: 10px;
      }

      .remove-button {
        background: {
          image: image-url('remove-button.png');
          repeat: no-repeat;
          position: center center;
        }
      }
    }
  }
}