.collapsible {
  .content-header {
    background-repeat: no-repeat;
    background-position: 95% center;
  }

  &.collapsed {
    .content-header {
      background-image: image-url('collapsed-indicator.png');

      &.fixed {
        background-image: none;
      }
    }
  }

  &.expanded .content-header {
    background-image: image-url('expanded-indicator.png');

    &.fixed {
      background-image: none;
    }
  }

  .items {

    .content-item:first-child, 
    .content-header:first-child,
    .content-button:first-child {
      border-top-width: 0;
    }

    .item {
      position: relative;
      overflow: auto;

      .btn.done-it {
        position: absolute;
        bottom: 10px;
        right: 7px;
      }

      > * > * {
        margin: 0px;
      }
    }
  }
}

#idea .content:last-child sup {
  display: none;
}

.description:after {
  content: image-url('arrow_element.png');
}