.content {
  padding: 8px;

  &.content-full {
    padding: 0;
  }

  &.content-footer {
    .content-item, .content-header {
      background-color: #f4f4f4;
    }
  }

  .content-header {
    font-size: 30px;
    line-height: 40px;
    padding: 12px;

    sup {
      padding-left: 0.2em;
      color: #FF2A06;
      font-family: Helvetica;
      font-size: 60%;
    }
  }

  .content-item {
    padding: 5px 8px;
  }

  .content-header, .content-item {
    background-color: white;
    border: 1px solid #e7e7e5;

    &:not(:first-child) {
      border-top-width: 0;
    }
  }
}