.content {
  padding: 2.5px 5px;

  &.content-full {
    padding: 0;
  }

  &.content-footer {
    .content-item, .content-header {
      padding: 22px;
      background-color: #f4f4f4;
    }
  }

  .content-header {
    font-size: 30px;
    line-height: 40px;
    padding: 10px;

    &.red {
      color: #FF2A06;
      border-bottom: 0;
    }

    sup {
      padding-left: 0.2em;
      color: #FF2A06;
      font-family: Helvetica;
      font-size: 60%;
    }
  }

  .content-item.content-item-full {
    padding: 2px;
  } 

  .content-flat, .content-item {
    padding: 15px 10px;
  }

  .content-header, .content-item, .content-button {
    background-color: white;
    border: 1px solid #e7e7e5;

    &:not(:first-child) {
      border-top-width: 0;
    }
  }

  .content-button {
    padding: 20px 0 23px;
    font-size: 1.5em; 
    text-align: center;
  }

  button.content-button {
    width: 100%;
  }
}