.content {
  padding: 8px;

  &.content-full {
    padding: 0;

    .content-item {
      margin: 8px;
    }
  }

  .content-item {
    background-color: white;
    border: 1px solid #e7e7e5;
    margin-bottom: 8px;
    padding: 8px 11px;
  }
}