textarea {
  width: 90%;
  margin: 10px;
  height: 4em;
  padding: 10px;
  background-color: #f7f7f7;
}

/*.content textarea, .collapsible .item textarea, .content input[type="text"] {
  width: 93%;
  font-size: 1.15em !important;
  padding: 10px !important;
}

.content textarea, .collapsible .item textarea {
  margin: 0 auto;
  height: 3em;
}*/