textarea {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #f8f7f7;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border: 1px solid #e7e7e5;
  -webkit-box-sizing: border-box;
}

textarea {
  height: 4em;
}

#idea-action-edit, #idea-edit {
  .content {
    background-color: white;
  }

  .actions {
    padding: 5px 0;

    span .icon-remove {
      padding: 10px;
      font-size: 30px;
    }
  }

  input[type="text"] {
    height: 2em;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #f8f7f7;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
  }

  .scrollable-content {
    top: 0;
    background: gray;
  }

  .content-item {
    padding-top: 0;
  }

  .content:first-child {
    padding-top: 5px;
  }

  textarea {
    height: 5em;
    margin: 0;
  }
}