h2 {
  color: #FF2A06;
  font-size: 80px;
  line-height: 90px;
  font-family: Helvetica;
}

.action-statement {
  color: #FF2A06;
  width: 150px;
}

.item .action-statement {
  width: auto; 
}

.action {
  color: #FF2A06;
  height: 80px;
}

.action-count {
  font-size: 40px;
  margin-top: 8px;
  font-weight: bold;
  padding-right: 10px;
}

.reaction textarea {
  width: 97%;
  margin: 0 auto;
  margin-top: 10px;
}

.submit-reaction {
  margin-right: 20px;
  margin-top: 20px;
}