.big {
  span {
    display: inline-block;
    font-size: 38.5px;
    font-weight: 300;
    line-height: 1.6em;
    padding-right: 4px;

    &:nth-child(odd) {
      color: #FF2A06;
      width: 40%;
      text-align: right;
      font-family: 'Helvetica Neue';
      font-weight: 300;
    }

    &:nth-child(even) {
      color: #464747;
      width: 40%;
      text-align: left; 
    }
  }
}

.action-statement {
  color: #FF2A06;
  width: 160px;
}

strong.action-statement {
  background: image-url('arrow_element_red.png') no-repeat right center;
  padding-right: 13px;
}

strong.featured-action-statement {
  color: #FF2A06;
  display: block;
}

.item .action-statement {
  width: auto;
  font-size: 0.85em;
}

.action {
  color: #FF2A06;
}

.reaction {
  display:none;
}