.big {
  font-weight: bold;
  display: inline-block;
  color: #FF2A06;
  font-size: 60px;
  line-height: 60px;
  font-family: Helvetica;
  text-align: right;
}

.big:nth-child(odd) {
  width: 35%;
  padding-right: 18px;
}

.big:nth-child(even) {
  width: 55%;
  text-align: left; 
}

.action-statement {
  color: #FF2A06;
  width: 220px;
}

.item .action-statement {
  width: auto; 
  font-size: 17px;
}

.action {
  color: #FF2A06;
  height: 80px;
}

.action-count {
  font-size: 58px;
  margin-top: 14px;
  font-weight: bold;
  padding-right: 10px;
}

textarea, input {
  width: 94%;
  font-size: 20px !important;
  padding: 10px !important;
}

textarea {
  margin: 0 auto;
}

.submit-reaction {
  margin-right: 20px;
  margin-top: 20px;
}