.big {
  display: inline-block;
  font-size: 2.6em;
  line-height: 1em;
  font-family: Helvetica;
  text-align: right;
}

.big:nth-child(odd) {
  font-weight: bold;
  color: #FF2A06;
  width: 38%;
  padding-right: 10px;
}

.big:nth-child(even) {
  color: #1A1A1A;
  width: 55%;
  text-align: left; 
}

.action-statement {
  color: #FF2A06;
  width: 220px;
}

strong.action-statement {
  background: image-url('arrow_element_red.png') no-repeat right center;
  padding-right: 13px;
}

.item .action-statement {
  width: auto; 
  font-size: 17px;
}

.action {
  color: #FF2A06;
  height: 80px;
}

.action-count {
  font-size: 58px;
  margin-top: 14px;
  font-weight: bold;
  padding-right: 10px;
}

textarea, input {
  width: 94%;
  font-size: 1.15em !important;
  padding: 10px !important;
}

textarea {
  margin: 0 auto;
  height: 3em;
}

.submit-reaction {
  margin-right: 20px;
  margin-top: 20px;
}