.big {
  border: 1px solid #eee;
  margin: 1px 0;

  span {
    display: inline-block;
    font-size: 2.6em;
    line-height: 1.8em;

    &:nth-child(odd) {
      color: #FF2A06;
      width: 40%;
      text-align: right;
    }

    &:nth-child(even) {
      color: #4d4949;
      width: 40%;
      text-align: left; 
    }
  }
}

.action-statement {
  color: #FF2A06;
  width: 160px;
}

strong.action-statement {
  background: image-url('arrow_element_red.png') no-repeat right center;
  padding-right: 13px;
}

strong.featured-action-statement {
  color: #FF2A06;
  display: block;
}

.item .action-statement {
  width: auto;
  font-size: 0.85em;
}

.action {
  color: #FF2A06;
}

.action-count {
  font-size: 3.0em;
  margin-top: 10px;
  font-weight: bold;
  padding-right: 10px;
}

.submit-reaction {
  margin-right: 20px;
  margin-top: 20px;
}

#idea-edit #description {
  width: 93%;
}