h2 {
  color: #FF2A06;
  font-size: 60px;
  line-height: 60px;
  font-family: Helvetica;
}

.action-statement {
  color: #FF2A06;
  width: 220px;
}

.item .action-statement {
  width: auto; 
  font-size: 17px;
}

.action {
  color: #FF2A06;
  height: 80px;
}

.action-count {
  font-size: 58px;
  margin-top: 14px;
  font-weight: bold;
  padding-right: 10px;
}

.reaction textarea {
  width: 97%;
  margin: 0 auto;
  margin-top: 10px;
}

.submit-reaction {
  margin-right: 20px;
  margin-top: 20px;
}