.landing {
  .content {
    color: #555;

    img {
      float: left;
    }

    .featured-action-statement {
      font-weight: 900;
      padding: 4px 0;
      margin-top: 25px;
      font-family: 'Helvetica Neue';
    }

    img {
      width: 35%;
      min-height: 80px;
      min-width: 115px;
      margin-right: 12px;
    }
  }

  .extra-results-loading {
    background: transparent image-url('ajax-loader.gif') no-repeat center center;
    min-height: 40px;
  }
}