.landing {
  .content {
    font-size: 0.9em;
    color: #555;

    img {
      float: left;
    }

    .featured-action-statement {
      font-size: 0.9em;
      padding: 10px 20px;
      margin-top: 25px;
    }

    img {
      width: 35%;
      min-height: 80px;
      min-width: 115px;
      margin-right: 12px;
    }

    .totals {
      color: #FF2A06;
      padding-bottom: 5px;
    }
  }

  .section .extra-results-loading {
    background: transparent image-url('ajax-loader.gif') no-repeat center center;
    min-height: 40px;
  }
}