.login-box {
  background-color: #fff;
  border: 1px solid black;
  padding: 30px 20px;

  p, ol{
    text-align: left;
    font-size: 0.8em;
    line-height: 1.1em;
  }

  .login-field form {
    text-align: center;
    padding: 0;
    margin-bottom: 0;

    .error {
      color: red;
    }

    input[type="text"] {
      height: 2em;
      width: 100%;
      padding: 20px;
      background-color: #f8f7f7;
      -webkit-appearance: none;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      -webkit-user-modify: read-write-plaintext-only;
    }
  }
}
