.panel {
  display: inline-block;
  position: relative;
  border-top: 3px solid darkgrey;
  background: #f3f3f3;
  margin: {
    left: -20px;
    right: -20px;
  }

  .body {
    margin-top: 30px;
  }
}

.corner-panel {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 10px;
}

