.search-field form {
  text-align: center;
  padding: 0;
  margin-bottom: 0;

  ::-webkit-input-placeholder {
     color: #333333;
  }

  .search-text-wrapper {
    width: 100%;
    display: inline-block;
    text-align: left;
    
    input {
      width: 80%;
      height: 35px;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 60px;
      font-weight: 100;
      border: none;
      box-shadow: none;
      -webkit-user-modify: read-write-plaintext-only;
      background: transparent;
    }
  }

  .btn {
    position: absolute;
    left: 82%;
    width: 15%;
    height: 89px;
    background: transparent image-url('search.png') no-repeat 96% center;
  }

}
