#home form {
  text-align: center;
  padding: 3px 0 5px;


  #search-text {
    width: 72%;
    height: 50px;
    font-size: 2em;
    line-height: 41px;
    margin-bottom: 0;
  }

  .btn {
    width: 20%;
    height: 60px;
  }
}

.search-navbar {
  position: relative;
  z-index: 999;
}

.results {

  .result {
    font-size: 20px;
    background-color: #f2f2f2;
    line-height: 26px;
    margin-bottom: 5px;
  }

}
