#home form, .landing form {
  text-align: center;
  padding: 3px 0 5px;

  ::-webkit-input-placeholder {
     color: #333333;
  }

  .search-text-wrapper {
    width: 77%;
    display: inline-block;    

    #search-text {
      width: 90%;
      height: 50px;
      font-size: 1.8em;
      line-height: 41px;
      margin-bottom: 0;
      padding-left: 16px;
    }
  }

  .btn {
    width: 20%;
    height: 60px;
  }
}

.search-navbar {
  position: relative;
  z-index: 999;
}

.results {

  .result {
    font-size: 20px;
    background-color: #f2f2f2;
    line-height: 26px;
    margin-bottom: 5px;
  }

}
