.search-field {
  text-align: center;
  padding: 3px 0 5px;
  margin-bottom: 0;

  ::-webkit-input-placeholder {
     color: #333333;
  }

  .search-text-wrapper {
    width: 77%;
    display: inline-block;    

    input {
      width: 90%;
      height: 50px;
      font-size: 1.8em;
      line-height: 41px;
      margin-bottom: 0;
      padding-left: 16px;
    }
  }

  .btn {
    width: 20%;
    height: 60px;
  }
}

.search-navbar {
  position: relative;
  z-index: 999;

  input {
    margin-bottom: 0;
  }
}

.results {

  .result {
    font-size: 1.1em;
    background-color: #f2f2f2;
    line-height: 26px;
    margin-bottom: 5px;
  }

}
