.search-field form {
  text-align: center;
  padding: 3px 0 5px;
  margin-bottom: 0;

  ::-webkit-input-placeholder {
     color: #333333;
  }

  .search-text-wrapper {
    width: 100%;
    display: inline-block;    
    
    input {
      width: 90%;
      height: 60px;
      font-size: 1.8em;
      line-height: 41px;
      margin-bottom: 0;
      padding-left: 0;
      font-weight: 100;
      border: none;
      box-shadow: none;
      -webkit-user-modify: read-write-plaintext-only;
      background: transparent image-url('search.png') no-repeat 98% center;
    }
  }

  .btn {
    position: absolute;
    bottom: 8px;
    right: 12px;
    width: 20%;
    height: 60px;
   }
}

.search-navbar {
  position: relative;
  z-index: 999;

  input {
    margin-bottom: 0;
  }
}

.results {
  .result {
    font-size: 1.1em;
    background-color: #f2f2f2;
    line-height: 26px;
    margin-bottom: 5px;
  }
}