.statement {
  font-size: 1.5em;
  color: #474949;
  line-height: 1.3em;
  margin: 0.8em 5px 0.9em;
}

.small_statement {
  font-size: 1em;
  color: #474949;
  line-height: 1em;
  margin: 1em 5px 1em;
  a {
    font-size: 0.9em;
    color: #474949;
    text-decoration: none;
  }
}
