.tile {
  color: #4a4747;
  line-height: 1.45em;

  &.tile-count {
    display: inline-block;
    padding-right: 10px;
    color:  #FF2A06;

    .number {
      font-weight: normal;
      font-family: 'Helvetica Neue';
    }
  }
}