.tile {
  color: #4a4747;
  padding-bottom: 8px;
  font-size: 1.3em;
  line-height: 1.35em;

  &.tile-count {
    display: inline-block;
    padding-right: 10px;
    color: #FF2A06;

    .number {
      font-weight: normal;
      font-family: 'Helvetica Neue';
    }
  }
}