.touch-panel {
  position: absolute;
  top: 0;
  left: 0;

  &.touch-panel-right {
    left: auto;
    right: 0;  
  }

  .touch-icon {
    &:hover {
      text-decoration: none;
    }

    i {
      padding: 18px;
      font-size: 28px;

      &.icon-remove {
        padding: 20px !important;
        font-size: 20px !important;
      }
    }
  }
}