.touch-panel {
  float: right;

  i {
    font-size: 0.9em;
    color: #ddd;
  }

  a.touch-icon {
    &:hover {
      text-decoration: none;
    }

    i {
      padding: 25px 10px;

      &.icon-remove {
        color: orangered;
      }
    }
  }
}