.touch-panel {
  position: absolute;
  top: 0;
  left: 0;

  &.touch-panel-right {
    left: auto;
    right: 0;  
  }

  .touch-icon {
    &:hover {
      text-decoration: none;
    }

    i {
      padding: 32px;
      font-size: 32px;
      color: #ddd;

      &.icon-remove {
        color: orangered;
      }
    }
  }
}