.touch-panel {
  position: absolute;
  top: 0;
  left: 0;

  i {
    font-size: 32px;
    color: #ddd;
  }

  a.touch-icon {
    &:hover {
      text-decoration: none;
    }

    i {
      padding: 32px;

      &.icon-remove {
        color: orangered;
      }
    }
  }
}