#talks-and-events.loading
  .header.main-header
    Talks & events
    .home-page.pull-right(ng-href="/home")
      %i.icon-home
  .content  
    %p.description
      Introduction paragraph to a featured talk which may be positioned here
  .sections
    %collapsible(title='Talks' type='talks' collection='talks' item-template='views/talks/talk_collapsible_item.html')
    %collapsible(title='Events' type='events' collection='events' item-template='views/events/event_collapsible_item.html')