%collapsible(title='Talks' type='talks' collection='talks' item-template='views/talks/talk_collapsible_item.html')
%collapsible(title='Events' type='events' collection='events' item-template='views/events/event_collapsible_item.html')