.collapsible(ng-class="{collapsed : !expanded, expanded: !!expanded}")
  .content-header(ng-click="expandCollapse()" ng-class="{fixed: canCollapse == false}")
    %span<
      {{title}}
      %sup><
        {{collection_length}}
  .items(ng-show="!!expanded")
  %div(ng-repeat="item in collection")
      %ng:include(src="itemTemplate")
    .clear(ng-transclude)
