.collapsible{ 'ng-click' => 'expandCollapse()'}
  .header
    {{title}}
    %sup
      {{collection.length}}
  .items
    .item{ 'ng-repeat' => "item in collection" }
      %ng:include(src="itemTemplate")
