.collapsible.collapsed{ 'ng-click' => 'expandCollapse()'}
  .header
    %span.title
      {{title}}
      %sup
        {{collection_length}}
  .items
    .item{ 'ng-repeat' => "item in collection" }
      %ng:include(src="itemTemplate")
