.collapsible(ng-class="{collapsed : !expanded, expanded: !!expanded}")
  .content-header(ng-click="expandCollapse()" ng-class="{fixed: canCollapse == false}")
    %span<
      {{title}}
      %sup><
        {{collection_length}}
  .items(ng-show="!!expanded")
    .content-item.item(ng-repeat="item in collection" ng-href="/events/{{item.event_id}}/talks/{{item.id}}")
      %ng:include(src="itemTemplate")
    .clear(ng-transclude)